<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Animal LOVERS</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body>
<h1>Welcome to the ZOO'MIES!</h1>

<div class="animals">
    <div class="animal1">
        <a th:href="@{/nakedMoleRatDetails}" target="_blank">
            <img th:src="@{/nakedMoleRat.webp}" alt="A naked mole rat">
        </a>
    </div>

    <div class="animal2">
        <a th:href="@{/smoolmonkeyDetails}" target="_blank">
            <img th:src="@{/smoolmonkey.webp}" alt="A smool monkey">
        </a>
    </div>

    <div class="animal3">
        <a th:href="@{/bigmanDetails}" target="_blank">
            <img th:src="@{/bigman.webp}" alt="A big man animal">
        </a>
    </div>

    <div class="animal4">
        <a th:href="@{/uglyfishDetails}" target="_blank">
            <img th:src="@{/uglyfish.webp}" alt="An ugly fish">
        </a>
    </div>

    <div class="animal5">
        <a th:href="@{/uglymouseDetails}" target="_blank">
            <img th:src="@{/uglymouse.webp}" alt="An ugly mouse">
        </a>
    </div>
</div>
</body>

</html>
